### all ignore ###

/*
/.**

### no ignore

!/.zshrc
!/.tmux.conf
!/.stylua.toml
!/.bin/
!/.bin/install.sh
!/.bin/install_init.sh
!/.bin/install_brew.sh
!/.bin/install_link.sh
!/.config/
!/.config/starship.toml
!/.config/nvim/
!/.config/nvim/init.lua
!/.config/nvim/after/
!/.config/nvim/after/plugin/
!/.config/nvim/after/plugin/**
!/.config/nvim/lua/
!/.config/nvim/lua/gentamura/
!/.config/nvim/lua/gentamura/**
!/.gitconfig
!/.gitignore_global

!/Brewfile
!/README.md

!/.gitignore
