### all ignore ###

/*
/.**

### no ignore

!.gitignore
!README.md
!.zshrc
!.tmux.conf
!.tmuxinator/
.tmuxinator/**
!.config/
!.config/starship.toml
!.config/nvim/
.config/nvim/.netrwhist
.config/nvim/plugin/**
!/.bin/
